@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Cinzel";
}

body {
  background-image: url(background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  font-family: "Cinzel";
  font-weight: 700;
  font-size: 64px;
  line-height: 86px;
  color: #151718;
  margin-top: 160px;
  margin-bottom: 4px;
}

h1 span {
  color: #db2777;
}

p {
  font-family: "Inter";
  margin-bottom: 72px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2c2e2fe6;
}

a {
  padding: 16px 32px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #151718;
}

.buttonOne {
  margin-left: 16px;
}

.buttonOne:hover{
  background: #db2777;
  border-radius: 80px;
  color:#FFFFFF;
}

.buttonTwo {
  background: #db2777;
  border-radius: 80px;
  color:#FFFFFF;
  text-decoration: none;
}
